$primaryColor: #1fcf54;
$secondaryColor: #eeeeee;
$errorColor: #ff351f;

@mixin fieldset {
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid $primaryColor;
    border-radius: 10px;
}